@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to MovieLib.Web</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div>Trey Kreis</div>
        <div>ITSE 1430</div>
    </div>
</div>